@media screen and (min-width: 768px) {
    /* Centralização do container principal */
    main {
        max-width: 900px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
       box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    /* Aumentando o H2 sem mexer em padding/margin */
    main h2 {
        font-size: 1.4rem; /* Tamanho imponente para títulos em desktop */
    }

    /* Aumentando o H3 (nomes dos jogadores) */
    main h3 {
        font-size: 1rem;
    }

    /* Aumentando os parágrafos sem mexer em padding/margin */
    main p {
      padding: 1px 40px; /* Pequeno padding horizontal para melhor leitura */
        font-size: 1.1rem; /* Leitura confortável para telas grandes */
        line-height: 1.7em;
    }

    /* Ajuste Fino das Imagens */
    div .principalimg img {
        /* Tamanho ideal: nem gigante, nem pequena */
        width: 70%; 
        max-width: 550px; 
        height: 450px; 
               
        /* Garante que a imagem não distorça ao redimensionar */
        object-fit: cover; 
        object-position: center top; 
        
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }

    nav a.offon{
  display: block;
}

 main img {
      width: 70%;
      max-width: 750px;
      height: 250px;
      margin: 10px auto; 

      
    }

}

/* Ajuste para Monitores Extra Largos (Notebooks 15' e Desktops) */
@media screen and (min-width: 1200px) {
    main h2 {
        font-size: 1.5rem;
        margin: 30px 0px;
    }

    main {
      max-width: 920px;
    }
    main img {
      width: 65%;
      max-width: 750px;
      height: 300px;
      margin: 10px auto; 

      
    }

     main h3 {
        font-size: 1.2rem;
    }
    main p {
        font-size: 1.1rem;
    }}